<a href="https://colab.research.google.com/github/torchroh/Deep-learning/blob/main/D2L_2_2_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.2.1 Reading the Dataset

---


csv파일 만들고 데이터 읽기

In [22]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
  f.write(''' NumRooms, RoofType, Price
  NaN, NaN, 127500
  2, NaN, 106000
  4, Slate, 178100
  NaN, NaN, 140000''')

In [23]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms  RoofType   Price
0       NaN       NaN  127500
1         2       NaN  106000
2         4     Slate  178100
3       NaN       NaN  140000

2.2.2 Data Preparation (데이터 열 분할)

---


input versus와 target versus로 구분하기
--> iloc 사용, indexing

In [24]:
inputs, targets = data.iloc[:, 0:2], data.iloc[:, 2]
print(inputs)
print(targets)

   NumRooms  RoofType
0       NaN       NaN
1         2       NaN
2         4     Slate
3       NaN       NaN
0    127500
1    106000
2    178100
3    140000
Name:  Price, dtype: int64

pandas는 숫자가 아닌 값을 NaN로 대체함.
--> missing values. 이러한 값들은 대체되거나 삭제될 수 있음.

RoofType를 Slate와 NaN 두가지로 나눠서 True/False로 표현.

** 여기서 왜 교재랑 다르게 출력되는지를 모르겠음...
NumRooms는 가만히 있어야하는데...아예 숫자들이 다 사라짐.

In [25]:
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

    NumRooms_  2   NumRooms_  4   NumRooms_  NaN   NumRooms_nan  \
0          False          False             True          False
1           True          False            False          False
2          False           True            False          False
3          False          False             True          False

    RoofType_ NaN   RoofType_ Slate   RoofType_nan
0            True             False          False
1            True             False          False
2           False              True          False
3            True             False          False

missing value들은 해당 열의 평균 값으로도 대체될 수 있다.
(누락된 변수 대입하기)

In [16]:
inputs = inputs.fillna(inputs.mean())
print(inputs)

    NumRooms_  2   NumRooms_  4   NumRooms_  NAN   NumRooms_nan  \
0          False          False             True          False
1           True          False            False          False
2          False           True            False          False
3          False          False             True          False

    RoofType_ NAN   RoofType_ Slate   RoofType_nan
0            True             False          False
1            True             False          False
2           False              True          False
3            True             False          False

2.2.3 Conversion to the Tensor Format


---
위 과정을 똑바로 헀다면, input과 target 도 숫자형태이므로, tensor 형태로 가져올 수 있다.

In [18]:
import torch

X = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(targets,to_numpy(dtype=float))
X, y

NameError: name 'to_numpy' is not defined

근데 나는 위 과정이 이상했던 것 같다. 잘 안 돌아간다....