<a href="https://colab.research.google.com/github/torchroh/Deep-learning/blob/main/D2L_2_2_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.2 Data Preprocessing

# 2.2.1 Reading the Dataset



---



csv파일 만들고 데이터 읽기

In [3]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
  f.write('''NumRooms,RoofType,Price
NA,NA,127500
2,NA,106000
4,Slate,178100
NA,NA,140000''')

In [4]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms RoofType   Price
0       NaN      NaN  127500
1       2.0      NaN  106000
2       4.0    Slate  178100
3       NaN      NaN  140000

#2.2.2 Data Preparation (데이터 열 분할)



---


input versus와 target versus로 구분하기
--> iloc 사용, indexing

In [6]:
inputs, targets = data.iloc[:, 0:2], data.iloc[:, 2]
print(inputs)

   NumRooms RoofType
0       NaN      NaN
1       2.0      NaN
2       4.0    Slate
3       NaN      NaN

pandas는 숫자가 아닌 값을 NaN로 대체함.
--> missing values. 이러한 값들은 대체되거나 삭제될 수 있음.

RoofType를 Slate와 NaN 두가지로 나눠서 True/False로 표현.

**띄어쓰기를 한번이라도 하면 string으로 인식이 되기 때문에, 숫자로 쓰기 위해서는 여백없이 써야함!

In [7]:
inputs = pd.get_dummies(inputs, dummy_na=True) #pd.get_dummies는 숫자가 아닌 글에만 적용됨.
print(inputs)

   NumRooms  RoofType_Slate  RoofType_nan
0       NaN           False          True
1       2.0           False          True
2       4.0            True         False
3       NaN           False          True

missing value들은 해당 열의 평균 값으로도 대체될 수 있다.
(누락된 변수 대입하기)

In [8]:
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms  RoofType_Slate  RoofType_nan
0       3.0           False          True
1       2.0           False          True
2       4.0            True         False
3       3.0           False          True

# 2.2.3 Conversion to the Tensor Format




---
위 과정을 똑바로 헀다면, input과 target 도 숫자형태이므로, tensor 형태로 가져올 수 있다.

In [10]:
import torch

X = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(targets.to_numpy(dtype=float))
X, y

(tensor([[3., 0., 1.],
         [2., 0., 1.],
         [4., 1., 0.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))